<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Lingwah Editor"
            extensions="ling"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="com.googlecode.lingwah.eclipse.ui.editors.LingwahEditor"
            id="com.googlecode.lingwah.eclipse.ui.editors.LingwahEditor">
      </editor>
   </extension>

</plugin>
